In [1]:
import pandas as pd
import random

In [2]:
data = pd.read_excel('liste-classe.xlsx')

In [3]:
df = pd.DataFrame(data)

In [4]:

while True:
    try:
        num = int(input("Entrez un nombre pour découper la liste de classe : "))
    except ValueError:
        print("Ce n'est pas un nombre valide.")
        continue
    if num <= 0:
        print("Le nombre n'est pas valide Il doit être compris entre 1 et", len(df))
        continue
    else:
        break

shuffled_df = df.sample(frac=1, random_state=42)
parts = [shuffled_df.iloc[i:i+num] for i in range(0, len(shuffled_df), num)]
for i, part in enumerate(parts):
    print(f"Groupe {i + 1}:")
    print(part)

Entrez un nombre pour découper la liste de classe : 3
Groupe 1:
                               Nom
8       Soumahoro Aboubacar Siriki
16  Allah Amon Aya Noemie Cyrielle
0         AYE SEKA SEKA JOEL ENOCK
Groupe 2:
                                  Nom
24  Yesufu Muhamad Olamide Babatunde
11                    Sanogo Mouhamed
9            KOUASSI JAKE ARIEL MOUAE
Groupe 3:
                            Nom
13  SAMBOU Diassy Mame Florence
1          Adama Kouadio Landry
23    DRAME Abdoul Razak Daouda
Groupe 4:
                           Nom
5   kra adelphe benoit kouadio
2        Kouadio KOUAKOU KADER
12     ALLANGBA Amenan Cyrille
Groupe 5:
                           Nom
15    KOUASSI Grâce Emmanuella
3                 Camara Adama
4   Adua Kouakou jean Philippe
Groupe 6:
                            Nom
21              Niat Lynn-Aurea
17  GNIMI Gbate Julienne Desiré
22                 Koné Libasse
Groupe 7:
                                  Nom
18            N'guessan AUDREY CARENE
25  Yapo Bruce Bernadin Evrard Junior
20                       Tiho Gnimeta
Groupe 8:
                               Nom
7    OUADEBA Cheick Billa Youssouf
10                 GOLI YAO HUGUES
14  AYEPO Leyo Therese Marie Grace
Groupe 9:
                            Nom
19  Koffi Akoua Blanche larissa
6       kouame ezekiel wilfried